In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import lxml

In [3]:
path = '/Users/Dinara/Desktop/'

In [4]:
df = pd.read_excel(path+'tickers.xlsx')

In [5]:
tickers = df['TICKERS'].tolist()

In [6]:
tickers

['AIQUF',
 'MT',
 'BASFY',
 'BAYZF',
 'DTEGY',
 'ORAN',
 'NOK',
 'TIIAY',
 'TEF',
 'VIVEF',
 'DTRUY',
 'VWAGY',
 'BUD',
 'CRRFY',
 'DANOY',
 'LRLCY',
 'SNYNF',
 'UL',
 'LVMUY',
 'E',
 'REPYF',
 'TTE',
 'AEG',
 'ALIZY',
 'AXAHY',
 'SAN',
 'BBVA',
 'BNPQY',
 'CRARY',
 'DB',
 'DBOEY',
 'ARZGY',
 'ING',
 'ISNPY',
 'MURGF',
 'SCGLY',
 'UNCFF',
 'ALSMY',
 'CRH',
 'PHG',
 'CODGF',
 'SBGSY',
 'SIEGY',
 'VCISY',
 'SAP',
 'EONGY',
 'ESOCF',
 'ENGIY',
 'IBDRY',
 'RWNFF']

In [7]:
URL_BASE = 'https://ycharts.com/companies/'
URL_ENDING = '/debt_equity_ratio'

In [8]:
session = requests.Session()

In [15]:
for ticker in tickers[1:]:
    url = URL_BASE + ticker + URL_ENDING
    response = session.get(url, headers=headers)
    response.encoding = 'utf-8'
    soup = BeautifulSoup(response.text, "lxml")
    tables = soup.find_all('tbody', limit=2)
    result = []
    for table in tables:
        data = table.find_all('td')
        for i in data:
            result.append(i.text)
    ratios = []
    for i in range(1, len(result), 2):
        try:
            ratios.append(float(result[i].replace('\n', '').strip()))
        except Exception:
               result[i-1] = 0
    dates = []
    for i in range(0, len(result), 2):
        if result[i] != 0:
            dates.append(str(result[i]))
    data_new = pd.DataFrame({'dates': dates, ticker: ratios})
    try:
        data_base = pd.merge(data_base, data_new, how='left', on='dates')
    except Exception:
        continue

In [71]:
data_base

,dates,AIQUF,MT,BASFY,BAYZF,DTEGY,ORAN,NOK,TIIAY,TEF,...,CODGF,SBGSY,SIEGY,VCISY,SAP,EONGY,ESOCF,ENGIY,IBDRY,RWNFF
0,"June 30, 2022",0.5850,0.1466,0.5354,0.000,2.307,1.110,0.2451,1.3890,0.000,...,0.5139,0.4685,1.128,1.227,0.4434,0.0,2.257,0.8656,0.9898,2.4470
1,"December 31, 2021",0.5880,0.1532,0.4345,1.162,2.552,1.093,0.2680,1.5730,1.806,...,0.5199,0.3989,1.095,1.302,0.3347,0.0,2.306,1.0540,1.0340,0.7017
2,"June 30, 2021",0.6992,0.1916,0.5181,0.000,2.795,1.160,0.3553,0.9364,0.000,...,0.5715,0.5282,1.215,1.373,0.4791,0.0,1.900,1.1000,1.0490,0.3292
3,"December 31, 2020",0.6635,0.3006,0.5881,1.324,2.910,1.020,0.4473,0.9583,0.000,...,0.6804,0.5070,1.173,1.436,0.4490,0.0,1.998,1.2280,1.0860,0.1257
4,"June 30, 2020",0.7953,0.3724,0.6934,0.000,3.188,1.160,0.3895,1.3200,NaN,...,NaN,0.5202,1.051,1.621,0.6406,0.0,2.061,1.2430,1.0510,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,"March 31, 2009",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,"September 30, 2008",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"March 31, 2008",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,"September 30, 2007",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"March 31, 2007",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
data_base.to_excel(path+'ratios_new.xlsx', index=False)